body {
    background-color:bisque;
}

#locator {
    position: absolute;
    visibility: visible;
    left: 400px;
    top: 150px;
    height: 100px;
    width: 150px;
    z-index: 200;
}

table{
     background-color:brown;
    
}